@font-face {
    font-family: 'FontAwesome';
    src: url('/assets/fonts/fontawesome-webfont.ttf');
}
@font-face {
    font-family: 'CharterITCPro-BlackItalic';
    src: url('/assets/fonts/CharterITCPro-BlackItalic.ttf');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('/assets/fonts/ProximaNova-Regular.ttf');
}
html, body {
    height: 100%;
}
body {
    position: relative;
    background-color: #000;
    padding: 0;
    margin: 0;
    color: #fff;
}
.app {
    position:  relative;
    min-height: 100%;
    overflow: hidden;
    background-image: radial-gradient(circle at 50% 30%, #5c5cce 0%, #102176 10%, #102139 50%, black 75%)
}
.filter {
    position: absolute;
    top: 10em;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    z-index: 10000;
}
.filter ul {
    list-style:  none;
    display: block;
    margin: auto;
    padding: 0;
    width: 85%;
    margin-top: 7px;
}
.filter ul li {
    position: relative;
    margin: 1.66%;
    display: block;
    float: left;
    width: 30%;
    padding-bottom: 30%;
    background-color: rgb(34,37,43);
    color: #fff;
    opacity: 1;
    border: 1px solid rgb(76,78,85);
}
.filter ul li.on {
    background-color: rgb(232,66,102);
}
.filter ul li div {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 12px;
}
.filter ul li div p {
    position: absolute;
    bottom: 0;
    font-size: 1.2em;
    font-family: 'ProximaNova-Regular';
    text-align: center;
    width: 100%;
    word-break:break-word;
    line-height: normal;
}
.amenities-container {
  display: inline-block;
  width: 50%;
  float : right;
}
.amenities-modal-close {
  font-size: 1.2em;
  float : right;
  display : none;
}
.dropdown-container {
  display: inline-block;
  font-size: 1.4em;
  font-family: 'ProximaNova-Regular';
}
.dropdown {
  -webkit-appearance: none;
  border: none;
  color: #fff;
  padding-right : 1.25em;
  outline: none;
  background-color: transparent;
  background-image: url("/assets/chevron-down.png");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: right;
}

.dropdown::before {
  font-family : 'FontAwesome';
  content: "\f041";
  float : left;
}
button {
    width: 45%;
    margin: 3px;
}
#floors {
    padding: 0px 4px 0px 4px;
}
#map {
  margin-top: 10px;
}
h3 {
    font-family: "CharterITCPro-BlackItalic";
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 4px;
    padding-left: 4px;
}
h4 {
    font-family: "CharterITCPro-BlackItalic";
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}
#floatingmenu {
    width:100%;
    height:300px;
    position:absolute;
    bottom:-300px;
    z-index:99999;
    background:#000;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    padding: 8px;
    font-size: 16px;
    border-top: 1px solid rgb(76,78,85);
}
.buttons {
  display: inline-block;
  width: 100%;
}
#floatingmenu.open {
    bottom:0px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.panel_body, .panel_location {
    font-size: 12px;
}

.btn-amenities {
  color : 'white';
  width: 100%;
  max-width : 300em;
  font-size : 1.2em;
  font-family: 'ProximaNova-Regular';
  float : right;
  border-radius : 2px;
  border : 1px solid #7A7676;
}

.no-amenities {
  background-color: #22252B;
}

.showing-amenities {
    background-color: #EE3D64;
}

.amenities_text {
  color : #D8D8D8;
  float : left;
  margin-left : 10px;
}

.curr-amen-icon {
  height : 1.5em;
  width: auto;
  float: left;
}

.amn-icon:before {
  font-family : 'FontAwesome';
  content: "\f041";
  float : left;
}

.filter_close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  font-size: 24px;
  line-height: 24px;
}

.panel_close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  font-size: 24px;
  line-height: 24px;
}
