
.icon-clock:before { content: '\e800'; } /* '' */
.icon-arrow:before { content: '\e801'; } /* '' */
.icon-setting:before { content: '\e802'; } /* '' */
.icon-survey:before { content: '\e803'; } /* '' */
.icon-poll:before { content: '\e804'; } /* '' */
.icon-profile:before { content: '\e805'; } /* '' */
.icon-contact:before { content: '\e806'; } /* '' */
.icon-icon_pin_generic:before { content: '\e807'; } /* '' */
.icon-event:before { content: '\e808'; } /* '' */
.icon-map:before { content: '\e809'; } /* '' */
.icon-pin:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-share:before { content: '\e80c'; } /* '' */
.icon-kebab:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-check-no-circle:before { content: '\e80f'; } /* '' */
.icon-ok-circled:before { content: '\e810'; } /* '' */
.icon-kebab-horizontal:before { content: '\e811'; } /* '' */
.icon-collection:before { content: '\e814'; } /* '' */
.icon-meeting:before { content: '\e81e'; } /* '' */
.icon-stream:before { content: '\e81f'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */